{% extends 'index.html' %}
{% load static %}
{% block content %}

<table>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Course</th>
    </tr>
    {% for i in data %}
    <tr>
        <td>{{i.name}}</td>
        <td>{{i.email}}</td>
        <td>{{i.course}}</td>
        <td>
        <a href="{% url 'update_student' id=i.id %}"><button>Edit</button></a>
        </td>
        <td>
        <a href="{% url 'delete_student' id=i.id %}"><button>Delete</button></a>
        </td>
    </tr>
    {% endfor %}
    
</table>
{% endblock %}