{% extends 'index.html' %}
{% load static %}
{% block content %}

<h1>EDIT STUDENT DETAILS</h1>

<form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}

    {% for field in form %}
        <div>
            <label for="{{ field.id_for_label }}">
                {{ field.label }} :
            </label>

            {{ field }}

            {% if field.errors %}
                <div style="color: red;">
                    {{ field.errors }}
                </div>
            {% endif %}
        </div>
        <br>
    {% endfor %}

    <button type="submit">SUBMIT</button>
</form>
{% endblock %}